<div class="main py-5">
    <div class="container py-5 text-white">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center ">
                    <p class="fs-3 fw-medium pb-0 m-0">LOCATION</p>
                    <p class="pt-1 pb-3 m-0">2215 John Daniel Drive</p>
                    <p class="m-0">Clark, MO 65243</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="text-center ">
                    <p class="fs-3 fw-medium pb-0 m-0">AROUND THE WEB</p>
                    <ul class="list-unstyled d-flex justify-content-center gap-3 pt-1 fs-6 align-items-center">
                        <li> <i class="fa-brands fa-facebook"></i></li>
                        <li> <i class="fa-brands fa-twitter"></i></li>
                        <li> <i class="fa-brands fa-linkedin-in"></i></li>
                        <li> <i class="fa-solid fa-globe"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center ">
                    <p class="fs-3 fw-medium pb-0 m-0">ABOUT FREELANCER</p>
                    <p class="pt-1 pb-3 m-0">Freelance is a free to use, licensed Bootstrap<br> theme created by Route
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright text-center text-white py-4">
    <p class="p-0 m-0">Copyright © Your Website 2021</p>
</div>