section{
    background-color: #1abc9c;
    color: white ;
}
/* span{
    height: 4px;
    width: 80px;
    background-color: white;
} */
/* span::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 80px;
    bottom: 50%;
    transform: translate(30%,50%);
    background-color: white;
} */
