<section>
    <div class="container py-3">
        <h2 class="title text-center">CONATCT SECTION</h2>
        <div class="d-flex  justify-content-center align-items-center gap-3 py-3">
            <span></span>
            <i class="fa-solid fa-star"></i>
            <span></span>
        </div>
        <div class="row pb-3 d-flex justify-content-center align-content-center">
            <div class="col-md-7 pt-5">
                <div>
                    <div class="position-relative py-4">
                        <label>userName:</label>
                        <input type="text" placeholder="userName" class="form-control py-2 w-100">
                    </div>
                    <div class="position-relative py-4">
                        <label>userName:</label>
                        <input type="number" placeholder="userAge" class="form-control py-2 w-100">
                    </div>
                    <div class="position-relative py-4">
                        <label>userEmail:</label>
                        <input type="email" placeholder="userEmail" class="form-control py-2  w-100">
                    </div>
                    <div class="position-relative py-4">
                        <label>userPassword:</label>
                        <input type="password" placeholder="userPassword" class="form-control py-2 w-100">
                    </div>
                </div>
                <button class="btn">Send message</button>
            </div>
        </div>
    </div>
</section>